.Sky {
  background: linear-gradient(to bottom, #99f, #eef);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.Sky-sun {
  transform-origin: 50% 100%;
  transition: all 1s;
  height: 80%;
  position: relative;
  width: 100%;
}

.Sky-sun-ball {
  background: #fc0;
  border-radius: 50%;
  height: 40px;
  left: 50%;
  position: absolute;
  top: 175%;
  transform: translate(-20px, -20px);
  width: 40px;
}
