.Sky {
  background: linear-gradient(to bottom, #99f, #eef);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.Sky-dark {
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  position: absolute;
  transition: opacity 1s;
  width: 100%;
}

.Sky-moon {
  background: radial-gradient(bottom right, circle, #ddd 0%, #666 100%);
  border-radius: 50%;
  height: 40px;
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translate(-20px, -20px);
  width: 40px;
}

.Sky-rotating {
  transform-origin: 50% 100%;
  transition: transform 1s;
  height: 80%;
  position: relative;
  width: 100%;
}

.Sky-sun {
  background: radial-gradient(circle, #ff8 0%, #f80 100%);
  border-radius: 50%;
  height: 40px;
  left: 50%;
  position: absolute;
  top: 175%;
  transform: translate(-20px, -20px);
  width: 40px;
}
